* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #eee;
  overflow: scroll;
  overflow-x: hidden;
}

/* global container */
.container {
  margin: 7px;
  padding: 8px;
}

/* navbnar */
.navbar {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  max-width: 100%;
  /* justify-content: space-between */
}

.navbar .container {
  width: 80%;
  margin-left: 14rem;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
}

.navbar .container img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.navbar .container input[type="text"] {
  height: 60px;
  width: 500px;
  font-size: 15px;
  border: none;
  outline: none;
}

#bell {
  font-size: 20px;
}

.navbar a {
  color: black;
  opacity: 0.7;
  text-decoration: none;
}

.navbar a:hover {
  opacity: 1;
}

.navbar a:active {
  opacity: 0.8;
}

.navbar .container .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* sidebar mulai disini */
.sidebar {
  display: flex;
  justify-content: center;
  width: 14rem;
  background-color: white;
  height: 100%;
  position: fixed;
  font-size: 20px;
  margin: 0;
  padding: 0;
  top: 0;
}

.sidebar .container {
  padding-top: 0;
  margin-top: 0;
}

span.logo {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 90%;
  margin: 1% 5%;
  height: 78px;
}

span.logo i {
  color: #713bdb;
}

.sidebar .nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

.sidebar .nav a {
  width: 14rem;
  height: 60px;
  text-decoration: none;
  color: black;
  opacity: 0.6;
  align-items: center;
  padding: 30px;
  display: flex;
}

.sidebar i,
form i,
.navbar i {
  margin-right: 10px;
}

.sidebar .nav a:hover {
  opacity: 1;
  transition: 0.3s;
}

.sidebar .nav a:hover i {
  color: #713bdb;
}

.sidebar .nav a:active {
  opacity: 0.8;
}
/* sidebar end */

/* konten mulai dari sini */
.content {
  width: 100%;
  margin-left: 14rem;
  margin-top: 80px;
}

.content form {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.content form button {
  height: 40px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  border: none;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0 50px 50px 0;
  color: black;
  background-color: lightgrey;
}

.content form button:hover {
  opacity: 0.7;
  transition: 0.2s;
}

.content .container {
  display: flex;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 25px;
  height: 100px;
  width: 20%;
  margin: 20px 15px 10px 0px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  gap: 30px;
}

.icon {
  height: 50px;
  width: 50px;
  align-items: center;
  background-color: #f2ebfb;
  display: flex;
  text-align: center;
  color: #723adb;
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
}

.icon1 {
  height: 50px;
  width: 50px;
  align-items: center;
  background-color: #eef9ff;
  display: flex;
  text-align: center;
  color: #4ab9ff;
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
}

.icon2 {
  height: 50px;
  width: 50px;
  align-items: center;
  background-color: #fef3ef;
  display: flex;
  text-align: center;
  color: #ff8b58;
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
}

.icon3 {
  height: 50px;
  width: 50px;
  align-items: center;
  background-color: #ffeff2;
  display: flex;
  text-align: center;
  color: #fd517f;
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
}
.text-box {
  text-align: start;
}

.text-box h2,
.text-box p {
  margin: 0;
}

.big-card {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 56%;
  height: 280px;
  background-color: white;
}

.big-card .title {
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 18px;
  padding: 20px;
  justify-content: space-between;
}

.big-card table {
  width: 100%;
}

.title p {
  font-weight: bold;
}

.title a {
  color: black;
}

/* table */
.big-card table {
  font-size: 20px;
}

.big-card table tr:nth-child(even) {
  background-color: rgb(243, 243, 243);
}

.big-card table tr:nth-child(odd):hover {
  background-color: rgb(231, 231, 231);
}

.big-card table tr:nth-child(even):hover {
  background-color: #e6e6e6;
}

/* log kanan */
.right-card {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 24%;
  height: 280px;
  background-color: white;
}

.right-card .title {
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 18px;
  padding: 20px;
  justify-content: space-between;
}

/* wrapperr */
.wrapper {
  display: flex;
  gap: 35px;
  margin-left: 16px;
}

/* inventory mulai dari sini */
.inventory {
  width: 100%;
  margin-left: 14rem;
  margin-top: 80px;
}

.inventory .container {
  display: flex;
  align-items: center;
}

.upper-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.upper-con input[type="text"] {
  margin-left: 1rem;
  margin-top: 1rem;
  height: 2rem;
  width: 300px;
  border: none;
  outline: none;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.upper-con button[type="submit"]:hover {
  opacity: 0.8;
}

.container table {
  background-color: white;
  width: 82%;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.3);
}

.container table tr {
  height: 2.7rem;
}

.container table tr:nth-child(odd):hover {
  background-color: #f4f4f4;
}

.container table tr:nth-child(even):hover {
  background-color: #f2ebfb;
}

.container table tr td {
  padding: 1em;
}

.button {
  text-align: center;
}

.container table tr:nth-child(even) {
  background-color: #f7f6f6;
}

.del {
  background-color: red;
  border: none;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.edit {
  background-color: blue;
  border: none;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.del:hover,
.edit:hover {
  opacity: 0.9;
}

.del:active,
.edit:active {
  opacity: 1;
}
/* inventory end */

/* editstyles */
.editform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 2rem;
}

.editform label {
  font-size: 20px;
}

.editform input[type="text"] {
  width: 100%;
  outline: none;
  height: 3em;
  border: none;
  background-color: #eee;
  border-radius: 2px;
  font-size: 15px;
  margin-bottom: 0.7em;
}

.editform input[type="submit"] {
  height: 3em;
  width: 50%;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  float: right;
  border-radius: 2px;
}

.editform input[type="submit"]:hover {
  opacity: 0.8;
}

.editform input[type="submit"]:active {
  opacity: 1;
}

/* Responsiveness */
@media (max-width: 1366px) {
  .content .container {
    display: flex;
    flex-wrap: wrap;
  }
}

/* sembunyiin scrollbar */
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
