* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #eee;
  overflow: scroll;
  overflow-x: hidden;
}

/* global container */
.container {
  margin: 7px;
  padding: 8px;
}

/* navbnar */
.navbar {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  max-width: 100%;
  /* justify-content: space-between */
}

.navbar .container {
  width: 75%;
  margin-left: 300px;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-between;
}

.navbar .container img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.navbar .container input[type="text"] {
  height: 60px;
  width: 500px;
  font-size: 15px;
  border: none;
  outline: none;
}

#bell {
  font-size: 20px;
}

.navbar a {
  color: black;
  opacity: 0.7;
  text-decoration: none;
}

.navbar a:hover {
  opacity: 1;
}

.navbar a:active {
  opacity: 0.8;
}

.navbar .container .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* sidebar mulai disini */
.sidebar {
  display: flex;
  justify-content: center;
  width: 300px;
  background-color: white;
  height: 100%;
  position: fixed;
  font-size: 20px;
  margin: 0;
  padding: 0;
  top: 0;
}

span.logo {
  display: flex;
  justify-content: center;
}

span.logo i {
  color: #713bdb;
}

.sidebar .nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar .nav a {
  width: 300px;
  height: 60px;
  text-decoration: none;
  color: black;
  opacity: 0.6;
  align-items: center;
  padding: 30px;
  display: flex;
}

.sidebar i,
form i,
.navbar i {
  margin-right: 10px;
}

.sidebar .nav a:hover {
  opacity: 1;
  transition: 0.3s;
}

.sidebar .nav a:hover i {
  color: #713bdb;
}

.sidebar .nav a:active {
  opacity: 0.8;
}
/* sidebar end */

/* konten mulai dari sini */
.content {
  width: 100%;
  margin-left: 300px;
  margin-top: 80px;
}

.content form {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.content form input[type="text"] {
  padding: 15px;
  height: 40px;
  width: 350px;
  border: none;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50px 0 0 50px;
  outline: none;
}

.content form button {
  height: 40px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  border: none;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0 50px 50px 0;
  color: black;
  background-color: lightgrey;
}

.content form button:hover {
  opacity: 0.7;
  transition: 0.2s;
}

.content .container {
  display: flex;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 25px;
  height: 125px;
  width: 300px;
  margin: 20px 45px 0 45px;
  border: 1px solid #d8d8d8;
  gap: 30px;
}

.icon {
  height: 50px;
  width: 50px;
  align-items: center;
  background-color: #f2ebfb;
  display: flex;
  text-align: center;
  color: #723adb;
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
}

.icon1 {
  height: 50px;
  width: 50px;
  align-items: center;
  background-color: #eef9ff;
  display: flex;
  text-align: center;
  color: #4ab9ff;
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
}

.icon2 {
  height: 50px;
  width: 50px;
  align-items: center;
  background-color: #fef3ef;
  display: flex;
  text-align: center;
  color: #ff8b58;
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
}

.icon3 {
  height: 50px;
  width: 50px;
  align-items: center;
  background-color: #ffeff2;
  display: flex;
  text-align: center;
  color: #fd517f;
  border-radius: 50%;
  font-size: 20px;
  justify-content: center;
}
.text-box {
  text-align: start;
}

.text-box h2,
.text-box p {
  margin: 0;
}

.big-card {
  margin: 20px 45px 0 60px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  width: 1080px;
  height: 280px;
  background-color: white;
}

.big-card .title {
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 18px;
  padding: 20px;
  justify-content: space-between;
}

.title p {
  font-weight: bold;
}

.title a {
  color: black;
}

/* table */
.big-card table {
  width: 100%;
  font-size: 20px;
}

.big-card table tr:nth-child(even) {
  background-color: rgb(239, 239, 239);
}

.big-card table tr:nth-child(odd):hover {
  background-color: rgb(231, 231, 231);
}

.big-card table tr:nth-child(even):hover {
  background-color: #e6e6e6;
}

/* responsivenss */
@media (max-width: 1366px) {
  .card {
    width: 433px;
  }

  .content .container {
    display: flex;
    flex-wrap: wrap;
  }

  .big-card {
    width: 957px;
  }
}
